:root {
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar-box {
    display: grid;
    grid-template-columns: repeat(7, auto);
    margin-inline: auto;
    gap: 0.2em;
}

.calendar-box > * {
    border-radius: 0.2em;
}

.month {
    grid-column: span 7;
}

.month,
.day-column {
    text-align: center;
    padding: 0.5em;
    background-color: lightblue;
    margin: 0;
}

.day {
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(3 auto);
    width: 8em;
    border: solid darkgoldenrod 1px;
}
.day > * {
    margin: 0;
    padding: 0;
}

.day-number {
    background-color: white;
    text-align: center;
    grid-column: 1;
    width: 1.5em;
    border-radius: 0.2em 0 0 0;
    font-weight: 700;
}
.label,
.first-label { text-align: right; }
.label { grid-column: 1/3; }
.first-label { grid-column: 2; }
.data {
    text-align: left;
    grid-column: 3;
    padding-left: 0.2em;
    width: 1.5em;
}

.editor,
.stats {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editor {
    grid-column: span 5;
}
.stats {
    grid-column: span 2;
}