.day {
  background-color: antiquewhite;
  border: solid darkgoldenrod 1px;
  min-width: 8em;
  display: grid;
  position: relative;
  grid-template-columns: auto 2em;
}

.day-number,
.end-edit {
  position: absolute;
  width: 1.5rem;
  height: 1rem;
  display: grid;
  place-content: center;
  background-color: white;
  z-index: 1;
  margin: 0;
  border: 0;
}

.day-number {
  top: 0;
  border-radius: 0.2em 0 0 0;
}
